
on post-fs-data

#ASUS_BSP Jeff_Gu : add for Led blink time +++
    chown system system /sys/class/leds/red/on_ms
    chmod 0664 /sys/class/leds/red/on_ms
    chown system system /sys/class/leds/green/on_ms
    chmod 0664 /sys/class/leds/green/on_ms
    chown system system /sys/class/leds/red/off_ms
    chmod 0664 /sys/class/leds/red/off_ms
    chown system system /sys/class/leds/green/off_ms
    chmod 0664 /sys/class/leds/green/off_ms
#ASUS_BSP Jeff_Gu : add for Led blink time ---

    chown system camera /sys/class/leds/torch-light0/brightness
    chmod 0664 /sys/class/leds/torch-light0/brightness
    chown system camera /sys/class/leds/torch-light0/max_brightness
    chmod 0664 /sys/class/leds/torch-light0/max_brightness

#ASUS_BSP +++ srhuang "Hall Sensor"
	symlink /sys/bus/platform/devices/soc.0/hall_sensor/hall_sensor/status	/data/data/hallsensor_status
	symlink /sys/bus/platform/devices/soc.0/hall_sensor/hall_sensor/debounce	/data/data/hallsensor_debounce
	chmod 0600 /data/data/hallsensor_status
	chmod 0600 /data/data/hallsensor_debounce
#ASUS_BSP --- srhuang "Hall Sensor"

#ASUS_BSP +++ srhuang "Zen Motion"
	chown system shell /sys/bus/i2c/devices/0-001f/double_tap
	chown system shell /sys/bus/i2c/devices/0-001f/flip
	chown system shell /sys/bus/i2c/devices/0-001f/flick
	chown system shell /sys/bus/i2c/devices/0-001f/hands
#ASUS_BSP --- srhuang "Zen Motion"

#ASUS_BSP +++ Surya_Xu "CSC Laser"
	chown media sdcard_rw /proc/driver/LaserFocus_on
	chown media sdcard_rw /proc/driver/LaserFocus_value
	chown system sdcard_rw /proc/driver/LaserFocus_Status
	chown media sdcard_rw /proc/driver/LaserFocus_Status_For_Camera
	chown system sdcard_rw /proc/driver/LaserFocus_CalStart
	chown system sdcard_rw /proc/driver/LaserFocus_enforce
	chown system sdcard_rw /proc/driver/LaserFocus_value_more_info
	chown system sdcard_rw /proc/driver/LaserFocus_debug_dump
	chown system sdcard_rw /proc/driver/LaserFocus_I2c_Status

	rm /data/data/LaserFocus_on
	rm /data/data/LaserFocus_value
	rm /data/data/LaserFocus_value_more_info
	rm /data/data/LaserFocus_Status
	rm /data/data/LaserFocus_CalStart
	rm /data/data/LaserFocus_disable
	rm /data/data/LaserFocus_debug_dump
	rm /data/data/LaserFocus_I2c_Status

	symlink /system/bin/LaserFocus_on /data/data/LaserFocus_on
	symlink /proc/driver/LaserFocus_value /data/data/LaserFocus_value
	symlink /proc/driver/LaserFocus_value_more_info /data/data/LaserFocus_value_more_info
	symlink /proc/driver/LaserFocus_Status /data/data/LaserFocus_Status
	symlink /system/bin/LaserFocus_CalStart /data/data/LaserFocus_CalStart
	symlink /system/bin/LaserFocus_enforce /data/data/LaserFocus_disable
	symlink /proc/driver/LaserFocus_debug_dump /data/data/LaserFocus_debug_dump
	symlink /proc/driver/LaserFocus_I2c_Status /data/data/LaserFocus_I2c_Status
#ASUS_BSP --- Surya_Xu "CSC Laser"

# ASUS_BSP +++ Peter_Lu "Akm09911 compass sensor & KX022 Gsensor"
    #  Permissions for Sensors
    # accelerometer kx022
    chown system system /sys/bus/i2c/devices/0-001f/enable
    chown system system /sys/bus/i2c/devices/0-001f/delay

    chmod 0660 /sys/bus/i2c/devices/0-001f/enable
    chmod 0660 /sys/bus/i2c/devices/0-001f/delay

    # AKM E-compass
    chown system system /sys/class/compass/akm09911/enable_acc
    chown system system /sys/class/compass/akm09911/enable_mag
    chown system system /sys/class/compass/akm09911/enable_fusion
    chown system system /sys/class/compass/akm09911/delay_acc
    chown system system /sys/class/compass/akm09911/delay_mag
    chown system system /sys/class/compass/akm09911/delay_fusion
    chown system system /sys/class/compass/akm09911/accel
    chown system system /dev/akm09911_dev

    chmod 0660 /sys/class/compass/akm09911/enable_mag
    chmod 0660 /sys/class/compass/akm09911/delay_mag
    chmod 0660 /sys/class/compass/akm09911/enable_acc
    chmod 0660 /sys/class/compass/akm09911/delay_acc
    chmod 0660 /sys/class/compass/akm09911/enable_fusion
    chmod 0660 /sys/class/compass/akm09911/delay_fusion
    chmod 0660 /dev/akm09911_dev

    chmod 0774 /sys/devices/virtual/compass/akm09911/akm_status
    chmod 0774 /sys/devices/virtual/compass/akm09911/akm_09911_raw
    chmod 0774 /sys/devices/virtual/compass/akm09911/akm_i2c
    chmod 0774 /sys/bus/i2c/devices/0-000f/Gsensor_raw
    chmod 0774 /sys/bus/i2c/devices/0-000f/Gsensor_status

    # adding Ecompass service
#+++ ASUS Alian_Shen "[ZC500KL]akmd"
service akmd  /system/bin/akmd09911 -m 4
service akmd  /system/bin/akmd09911 -m 1
#--- ASUS Alian_Shen "[ZC500KL]akmd"
    class core
    user system
    group system misc input
    oneshot

#+++ ASUS Alian_Shen "[ZC500KL]akmd"
service akmd_fac /system/bin/akmd09911 -s -f -m 1
    class late_start
    user system
    group system misc input
    disabled
    oneshot
#--- ASUS Alian_Shen "[ZC500KL]akmd"
# ASUS_BSP --- Peter_Lu "Akm09911 compass sensor & KX022 Gsensor"


